{% macro attributes(attrs) %}
    {% for key,attr in attrs %}
        {{ key }}="{{ attr }}"
    {% endfor %}
{% endmacro %}

{% if grid.actions|length %}
    <div class="actions pull-right">
        {% for action in grid.actions %}
            <a {{ _self.attributes(action.attributes) }} href="{{ action.action is not sameas('#') ? path(action.action) : '#' }}">{% if action['icon'] %}<i class="{{ action['icon'] }}"></i> {% endif %}{{ action.label|trans }}</a>

            {% if action.events|length %}
                <script type="text/javascript">
					$('#{{ action.attributes.id }}')
						{% for event, content in action.events %}
							.on("{{ event }}", function(){
								{{ content }}
                            })
                        {% endfor %}
                </script>
            {% endif %}
        {% endfor %}
    </div>

    <br class="clearfix" />
    <br class="clearfix" />

{% endif %}

{% if grid.data|length > 0 %}
    <table class="table table-bordered table-striped table-hover">

    {% for col in grid.columns %}
    	<th>{{ col.label|title|trans }}</th>
    {% endfor %}

    {% for data in grid.data %}
    	<tr>
		    {% for col in grid.columns %}
			    <td>{{ data[col.name]|raw }}</td>
		    {% endfor %}
	    </tr>
    {% endfor %}

    </table>
{% else %}
    <h3>{{ 'No %s found'|trans|replace({'%s' : grid.name}) }}</h3>
{% endif %}
